.header{
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.header-img{
  height: calc(100vh - 70px);
  background-image: url("../images/index-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include pad{
    height: auto;
    padding-top: 288px;
    margin-top: 104px;
    background-size: contain;
  }
  @include mobile{

    height: auto;
    margin-top: 0;
    padding-top: 352px;
    background-size: cover;
  }
}
.select-box{
  
}
.select-race{
  width: 120px;
  @media (max-width:1140px) {
    width: 100%;
  }
}
.select-serve{
  width: 210px;
  @media (max-width:1140px) {
    width: 100%;
  }
}
.select-aria{
  width: 210px;
  @media (max-width:1140px) {
    width: 100%;
  }
}

.select-btn{
  width: 95px;
  @media (max-width:1140px) {
    width: 100%;
  }
}

.select-box-title{
  font-size: 40px;
  line-height: 60px;
  @include pad{
    font-size: 32px;
    line-height: 48px;
  }
  @include mobile{
    font-size: 28px;
    line-height: 42px;
  }
}
.select-box-slogan-lg{
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  @include pad{
    font-size: 20px;
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.select-btn{
  margin: 0;
  @include pad{
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.reserve-card-bg{
  object-fit: cover;
  
  height: 110px;
  border: 5px solid #fff;
}

.babysitter{
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translate(-50%,0);
  
  border-radius: 50%;
}