.info{
  background-image: url('../images/index-9.jpeg');
  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.info-title{
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 100px;
  @include mobile{
    margin-bottom: 47px;
  }

}
.info-box{
  padding-bottom: 132px;
}
.info-text-box{
  border-left: 2px solid #fff;
  padding-left: 16px;
}